html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  display: flex;
}

body > header {
  background-color: #464f77;
  color: white;
}

body > main {
  flex-grow: 1;
  min-width: 280px;
}

/******************** nav window *******************/

#nav-toggle {
  display: none;
}

#nav-lists {
  width: 335px;
  min-width: 335px;
}

#nav-all {
  margin: 70px 0 0 0;
}

#nav-done {
  margin: 54px 0 0 0;
}

#nav-lists li {
  display: flex;
  align-items: center;
  padding: 12px 30px 12px 98px;
  color: #b2b5c3;
}

#nav-lists li + li {
  padding-left: 135px;
}

#nav-lists .due-date {
  flex-grow: 1;
}

#nav-lists .count {
  background-color: #6b7292;
  padding: 1px 4px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
}

#nav-lists li:nth-child(1) .due-date {
  margin-left: 10px;
  font-size: 18px;
  color: #ffffff;
}

#nav-lists li.active {
  background-color: #38405e;
  color: #ffffff;
}

#nav-lists li.active .count {
  background-color: #148fd5; 
}

#nav-lists .done {
  text-decoration: line-through;
}

/******************** main window *******************/

#hamburger-label {
  display: none;
  cursor: pointer;
}

#modal-toggle {
  display: none;
}

#active-list {
  width: 100%;
  box-sizing: border-box;
  padding: 0 100px 0 20px;
  color: #060606;
}

#active-list header {
  display: flex;
  margin: 70px 0 0 0;
  padding: 12px 8px; 
}

#active-list header h1 {
  font-size: 21px;
  font-weight: normal;
}

#active-list .count {
  margin: 0 0 0 16px;
  background-color: #148fd5;
  color: #ffffff;
  padding: 1px 5px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  align-self: center;
}

#add-todo {
  margin: 30px 0 15px 0;
  font-size: 16px;
  background-color: #ffffff;
  color: #148fd5;
  border: none;
}

#add-todo img {
  margin: 0 10px 0 5px;
}

#todos {
  position: relative;
}

.todo-item {
  box-sizing: border-box;
  height: 50px;
  padding: 0 0 0 12px;
  display: flex;
  align-items: center;
  border-top: 1px solid #e7e7e7;
  width: 100%;
}

.todo-item.done {
  text-decoration: line-through;
  color: #b3b3b3;
}

.todo-title {
  flex-grow: 1;
}

.todo-title span {
  display: inline;
  font-weight: normal;
  margin-left: 12px;
  cursor: pointer;
}

.todo-title span:hover {
  color: #148fd5;
}

.todo-item button {
  border: none;
  background-color: #ffffff;
}

/******************** modal window *******************/
#modal-label {
  flex-grow: 1;
}

#modal-form {
  box-sizing: border-box;
  width: 576px;
  min-width: 576px;
  height: 400px;
  position: absolute;
  top: 0;
  margin-top: -60px; 
  right: 50%;
  margin-right: -288px;
  z-index: 2;
  display: none;
  background-color: #ffffff;
}

#modal-form form {
  box-sizing: border-box;
  padding: 40px;
}

#modal-form li {
  margin: 0 0 24px 0;
  display: flex;
  box-sizing: border-box;
}

#modal-form label {
  width: 110px;
  margin-top: 8px;
  color: #060606;
}

#modal-form input, #modal-form textarea {
  flex-grow: 1;
  font-size: 16px;
  box-sizing: border-box;
  padding: 8px;
  color: #060606;
  border: 1px solid #b3b3b3;
  border-radius: 0;
}

#modal-form input::placeholder,
#modal-form textarea::placeholder {
  color: #b3b3b3;
}

#modal-form textarea {
  height: 145px;
  resize: none;
}

.select-wrapper {
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  width: 115px;
  height: 35px;
}

#modal-form select {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 6px;
  font-size: 16px;
  color: #060606;
  box-sizing: border-box;
  border: 1px solid #b3b3b3;
  border-radius: 0;
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  background-color: transparent;
}

.select-wrapper img {
  position: absolute;
  right: 8px;
  top: 10px;
  z-index: 1;
}

#modal-form span {
  margin: 0 10px;
  align-self: center;
}

#modal-form input:focus, 
#modal-form select:focus,
#modal-form textarea:focus {
  outline: 1px solid #b3b3b3;
}

#modal-form button {
  width: 184px;
  height: 34px;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  background-color: #148fd5;
  color: #ffffff;
}

#modal-form button:nth-child(1) {
  margin: 0 16px 0 110px;
}

#modal-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

#modal-toggle:checked ~ article #modal-form,
#modal-toggle:checked ~ #modal-layer {
  display: block;
}

/******************** mobile device *******************/
@media screen and (max-width: 768px) {
  #hamburger-label {
    display: inline-block;
    margin: 24px 0 0 32px;
  }
  
  #hamburger-label img {
    width: 23px;
  }

  #active-list header {
    margin: 22px 0 0 0;
  }

  #nav-lists {
    display: none;
  }

  #nav-toggle:checked + #nav-lists {
    display: block;
  }
}

@media screen and (max-width: 1031px) {
  #modal-form {
    left: 0px;
    margin-right: 0px;
  }
}
